<div id="salesorderview">
    <h1>Calculating Bonus for {{selectedemp.name}} </h1>
    <p>Employee ID : {{selectedemp.employeeid}}</p>
    <mat-spinner style="margin: auto;" *ngIf="finishedloading == false"></mat-spinner>
    <div id="salesorder" *ngIf="finishedloading == true">
      <mat-form-field appearance="fill">
        <mat-label>Choose Year</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <p-carousel [value]="salesorders" [numVisible]="3" [numScroll]="3" *ngIf="salesorders.length != 0">
        <ng-template pTemplate="header">
          <h2>Sales Orders :</h2>
        </ng-template>
        <ng-template let-salesorder pTemplate="item">
          <mat-card class="example-card mat-elevation-z4">
            <mat-card-title-group>
              <mat-card-title>{{salesorder.name}}</mat-card-title>
              <mat-card-subtitle>Created at {{salesorder.date}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <div>
                <h3>Financial Info</h3>
                <p>
                  Total Amount (excl. tax): {{salesorder.totalamount}}
                </p>
                <p>
                  Tax: {{salesorder.tax}}
                </p>
                <p>
                  Total Amount (incl. tax): {{salesorder.totalamountwithtax}}
                </p>
              </div>
              <div *ngIf="salesorder.products.length != 0">
                <h3>Products</h3>
                <p *ngFor="let product of salesorder.products">
                  Product Name: {{product.name}} Quantity: {{product.quantity}}
                </p>
              </div>
              <div>
                <h3>Customer</h3>
                <p>
                  Customer Name: {{salesorder.customer.name}} Rating: {{salesorder.customer.rating}}
                </p>
              </div>
            </mat-card-content>
          </mat-card>
        </ng-template>
      </p-carousel>
    </div>
</div>