#BonusCalculationView{
    width: 80%;
    margin: auto;
}
mat-card{
    margin: 4px;
}
#calculatebonus{
    position: fixed;
    right: 1em;
    bottom: 1em;
}
#performancevaluation{
    padding-bottom: 60px;
}
#performancevaluationflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#performancevaluationflex > mat-card{
    flex-basis: 30%;
}

#info{
    margin-right: 48px;
    margin-left: 48px;
}
#basicinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 10px;
    margin-bottom: 20px;
}
#basicinfo > p{
    margin-top: 0;
    margin-bottom: 0;
}