<div id="salesorderview">
    <h1>Calculating Bonus for {{selectedemp.name}} </h1>
    <p>Employee ID : {{selectedemp.employeeid}}</p>
    <mat-spinner style="margin: auto;" *ngIf="finishedloading == false"></mat-spinner>
    <div id="salesorder" *ngIf="finishedloading == true">
      <mat-form-field appearance="fill">
        <mat-label>Choose Year</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp
                        startView="multi-year"
                        (yearSelected)="chosenYearHandler($event, dp)"
                        panelClass="example-month-picker">
        </mat-datepicker>
      </mat-form-field>
      <div id="card-container">
        <mat-card class="example-card mat-elevation-z8" *ngFor="let salesorder of salesorders">
          <mat-card-title-group>
            <mat-card-title>{{salesorder.name}}</mat-card-title>
            <mat-card-subtitle>Created at {{salesorder.date}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content>
            <p *ngFor="let product of salesorder.products">
              {{product.name}} {{product.quantity}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>