#BonusCalculationView{
    width: 80%;
    margin: auto;
}
mat-card{
    margin: 4px;
}
#calculatebonus{
    position: fixed;
    right: 1em;
    bottom: 1em;
}
#performancevaluation{
    padding-bottom: 60px;
}
#performancevaluationflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#performancevaluationflex > mat-card{
    flex-basis: 30%;
}
