mat-divider{
    margin-bottom: 12px !important;
}

.bonusremark{
    width: 100%;
}

textarea{
    resize: none !important;
}

.productquantity,.targetval,.socialperformanceevaluationbonus{
    color: #ff5263;
}

.customerrating,.actualval,.ordersevaluationbonus{
    color: #673ab7;
}

.legend{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}