mat-table{
    width: 100%;
}
div{
    overflow: auto;
    width: 80%;
    height: calc(100vh - 64px);
    margin: auto;
}
.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
.mat-row:hover .mat-cell {
    border-color: currentColor;
}